<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h3 class="title pad-left-right">Contacts</h3>
    </div>
    
    <div class="row" style="padding: 0px 10px;">
      <div class="input-group pull-left pad-left-right col-xs-7">
        <input #searchBox type="text" (keyup)="search(searchBox.value)" class="form-control"
          placeholder="Enter a search value">
        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
      <div class="pull-right pad-left-right">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-12">
      <cms-contact-item 
        *ngFor="let oneContact of contacts | contactsFilter:term" 
        [contact]="oneContact"
      ></cms-contact-item>
    </div>
  </div>
</div>
