<div class="panel panel-default">
    <div class="panel-heading flex-space-between">
        <h3>Contacts</h3>
        <button class="btn btn-success">New Recipe</button>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <a *ngFor="let contact of contacts" href="#" class="list-group-item clearfix">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                    <!-- <p class="list-group-item-text"></p> -->
                </div>
                <span class="pull-right">
                    <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px">
                </span>
            </a>
        </div>
    </div>
</div>